.default
{
    background: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a:link
{
    color:rgb(100, 173, 202);
    text-decoration-line: none;
}
a:hover
{
    color:rgb(175, 224, 243);
    text-decoration-line: underline;
}
a:active
{
    color:rgb(65, 149, 245);
    text-decoration-line: underline;
}
a:visited
{
    color:rgb(85, 176, 212);
    text-decoration-line: none;
}